[2016-08-05 15:37] gingur opened #2 "README Question"
I'm not sure I understand this, the `React.createElement` would only be invoked in the case the condition is truthy.

[Example](http://babeljs.io/repl/#?evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&code=const%20React%20%3D%20%7B%20%0A%20%20createElement%3A%20(...args)%20%3D%3E%20%7B%0A%20%20%20%20console.log('in%20createElement'%2C%20...args)%3B%0A%20%20%7D%0A%7D%0A%0Afunction%20T

[2016-08-05 16:50] mjackson commented on #2
When I say "If you use a regular React element as children" to the `<Media>` component what I mean is this:

[code]

When you write code like that, you're creating a bunch of elements that you might not ever need. I'll try to make it clearer in the docs.

[2016-08-05 16:50] #2 closed

[2016-08-05 16:59] mjackson commented on #2
I provided some clarification [here](https://github.com/ReactTraining/react-media/commit/9226f859ef3e8092319dd626114730b120dca7e5)

[2016-08-05 17:50] gingur commented on #2
Hrmm, I guess I still don't see what perf issue you are trying to solve or the diff between the two.  I've provided another [example](http://babeljs.io/repl/#?evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&code=const%20React%20%3D%20%7B%0A%20%20createElement%3A%20(...args)%20%3D%3E%20%7B%0A%20%20%20%20console.log('createElement'%2C%20...args)%0A%20%20%7D%0A%7D%0A%0Afunction%20Condit

[2016-08-05 20:26] jesskrich opened #3 "Trailing Comma in JSON File Error"
Failed to parse json
npm ERR! Trailing comma in object at 23:3
npm ERR!   },
npm ERR!   ^
npm ERR! File: /Users/jessierichardson/Desktop/new_proj/package.json
npm ERR! Failed to parse package.json data.
npm ERR! package.json must be actual JSON, not just JavaScript.
npm ERR!
npm ERR! This is not a bug in npm.
npm ERR! Tell the package author to fix their package.json file. JSON.parse

[2016-08-06 20:09] mjackson commented on #3
I'm not sure which version you're on but we don't have any trailing commas in our `package.json`.

[2016-08-06 20:09] #3 closed

[2016-08-13 22:34] mjackson opened #5 "Pre-configured queries for common devices?"
Would it be useful for us to provide pre-configured queries for common devices? If so, what would be the best way to expose it?

The folks over at @CSS-Tricks have compiled [a nice list of media queries for standard devices](https://css-tricks.com/snippets/css/media-queries-for-standard-devices/) that I thought we could start with. Maybe we could provide a bunch of pre-configured `<Media>` compone

[2016-08-13 23:29] ryanflorence commented on #5
Hmm, I'm not immediately excited about it, I prefer just doing a general "phone-ish" size in portrait, "phone-ish" size landscape, and then "desktop-ish". Designed to exact sizes makes me nervous. What does it do on the phone that comes out next month?

[2016-08-14 11:57] StevenLangbroek commented on #5
How about exporting strings under `react-media/presets`?

[2016-08-14 14:36] mjackson commented on #5
Someone suggested on Twitter that we could have components for e.g. <Phone>
and <Tablet>, which I think is interesting.

https://twitter.com/teh_builder/status/764735449604714496
On Sun, Aug 14, 2016 at 4:57 AM Steven Langbroek <notifications@github.com>
wrote:

--
Michael Jackson
@mjackson

[2016-08-14 14:38] ryanflorence commented on #5
yeah, I like Phone, Tablet, but strings might be good enough? Motion
doesn't export "Wobbly" but rather presets.wobbly.
On Sun, Aug 14, 2016 at 7:36 AM Michael Jackson <notifications@github.com>
wrote:

[2016-08-14 14:39] StevenLangbroek commented on #5
Agree, could be a very nice API. How would it compose though? with exporting strings, you could just:

[code]

You could even use these as primitives to base the "prefab" components on then.

[2016-08-14 15:41] StevenLangbroek commented on #5
Thought: could an actively maintained set of device-specific and device-class (phone, tablet, desktop) queries serve as the backbone of this project, in the same vein that history is for `react-router`?

[2016-08-15 03:16] ryanflorence commented on #5
we send strings to matchMedia, that's the "history" part here I think.
On Sun, Aug 14, 2016 at 8:41 AM Steven Langbroek <notifications@github.com>
wrote:

[2016-08-15 07:58] StevenLangbroek commented on #5
You're right, but what I meant was "something that could be abstracted away and could serve other projects / the greater community".

[2016-08-17 22:11] mjackson commented on #5
Ah, yes. Strings seems to be the obvious choice for composition here. The hardest part left is deciding what the actual queries should look like. Are there any broadly recommended "phone" or "tablet" media queries out there?

[2016-08-19 20:11] timarney opened #7 "Possible use case?"
Love how small the footprint is for this.

Not sure if this makes sense but wondering if this lib could be used to set variables outside of the render method for other uses.

Example I'm messing around with react-virtualized
[code]

Based on the width of the screen I know what the height of my rows will be.

(max-width: 480px) set the variable to be X else set to Y

[2016-08-20 02:13] mjackson commented on #7
You mean like this?

[code]

[2016-08-20 02:16] timarney commented on #7
Ya but I was hoping not to dup the whole Component - just need to flip 1 prop / num (rowHeight)

[code]

[2016-08-20 02:27] mjackson commented on #7
It's just JavaScript ;) You can re-arrange the logic however you want.

[code]

[2016-08-20 02:27] #7 closed

[2016-08-20 02:32] timarney commented on #7
Nice thanks - ha seeing it in a format other than the ternary makes more sense to me now.

[2016-08-20 02:41] mjackson commented on #7
Ya those inline ternaries always throw me too :) Probably should've broken it out to begin with.

[2016-08-20 06:47] timarney commented on #7
Man I got some sleep and realized how powerful this is - what it can do.

Not just hiding stuff on the page like http://foundation.zurb.com/sites/docs/v/5.5.3/components/visibility.html

Best part - It's just JavaScript ;)

This just showed up in my feed https://github.com/nygardk/react-break might kick up some ideas for https://github.com/ReactTraining/react-media/issues/5

[2016-08-20 16:13] timarney commented on #7
FYI - works great https://twitter.com/timarney/status/767031104452853760 (WIP)

[2016-08-24 19:01] kwelch commented on #5
Few notes:
1) Love the idea, of a presets file. Would love to see it as landscape and portrait since they are so different.
2) Chrome has pre-defined in their dev tools and appear to be close adaptions of the bootstrap media queries.

[2016-08-31 14:49] mjackson commented on #5
@kwelch I poked around in Chrome's DevTools but couldn't get the queries they're using. Do you see them?

[2016-08-31 14:53] kwelch commented on #5
![image](https://cloud.githubusercontent.com/assets/1295580/18133495/754bc936-6f60-11e6-82c1-8b28c3bd6164.png)
If you switch the dropdown to `Responsive` then, the predefined widths show up.

- Mobile S - 320px
- Mobile M - 375px
- Mobile L - 425px
etc..

There is more granular than I think is appropriate for this library (at this point), but could give a decent MVP.

[2016-09-26 09:47] StefanoPastore opened #13 "Server side render warning"
Hi,

I set up my app with server-side rendering.

But I got this warning in the browser:
[code]

This is because react-media deletes some element from the DOM in the client-side according to media queries, but in the server-side rendering all elements are rendered because `matches` prop is true by default.

This approach causes different DOM elements to be rendered in the client and the server.

S

[2016-09-26 12:26] josieusa commented on #13
+1

[2016-09-27 23:35] mjackson commented on #13
Yep @StefanoPastore, if you need server-side rendering I'd say your solution works pretty well. I think all you'd need from us in that case is a `<Media defaultMatches>` prop that you could set `true`/`false` depending on which element you want to show by default.

Would you like to make a PR?

[2016-09-28 14:34] StefanoPastore commented on #13
@mjackson of course.

I made it, I met two problems: to test the feature I implemented `throw` on `console.error` and I had to implement static method `isClient` and override it while testing.

Please see the commit messages for the change log.

Thanks.

[2016-09-28 20:03] blairanderson opened #16 "convert json to media query"
Would you accept a PR that converts JSON input to a media query using something like https://github.com/akiran/json2mq#usage ?

Most notable benefit would be that devs could ignore syntax details of media queries:

before:
[code]

after:
[code]

[2016-09-30 22:14] mjackson commented on #16
Seems good. I like how `<Media query>` feels a lot like `<div style>` when you can pass an object in. How big is the dep? And is it actively maintained? Looks like the last commit was 2 years ago.

[2016-10-03 22:01] mjackson commented on #16
@blairanderson ping

[2016-10-04 03:15] mjackson commented on #16
Sure, the project looks good. I'd be happy to accept a PR that uses it.

[2016-10-04 16:17] #16 closed

[2016-10-04 17:28] luandro opened #19 "v1.3.1 Cannot find module json2mq"
Just upgraded to v1.3.1, getting this error:

[code]

[2016-10-04 18:09] daltones commented on #19
I can confirm it. `json2mq` wrongly appears in `devDependencies` instead of `dependencies`.

[2016-10-10 17:53] #19 closed

[2016-10-28 03:34] mjackson commented on #13
See #15

[2016-10-28 03:34] #13 closed

[2017-02-26 04:03] mjackson commented on #5
Looks like this conversation stalled. Closing.

[2017-02-26 04:03] #5 closed

[2017-02-28 01:49] VinSpee opened #38 "recommended solution for multiple MQs"
Hi,

what's the current solution for multiple MQs? Multiple media components? How should I compose something like that?

A solution like this _feels_ right to me:

[code]

at small would render as:

[code]

and at medium:

[code]

Thoughts?

[2017-02-28 02:19] mjackson commented on #38
To avoid overloading the `query` prop, I think we should have a `queries` prop that expects the kind of object you're describing, and it would use the keys as you've shown. Care to make a PR?

[2017-02-28 02:25] VinSpee commented on #38
Sounds like a good idea. I'll give it a whirl!

[2017-02-28 13:31] VinSpee commented on #38
@mjackson

here's the outline I'm thinking:

`propTypes` change to:

[code]

now in `componentWillMount` we need to check for either prop, if `query`, keep functionality the same. If `queries`

- create an array of `json2mq` strings,
- set `this.mediaQueryList` to be an array `matchMedia` objects for each of the queries
- add a listener to each of them that runs `this.updateMatches`

then, in `upd

[2017-02-28 15:01] VinSpee commented on #38
for the curious: here's a webpackbin demo to play around with

http://www.webpackbin.com/E1Ce0d0KG

[2017-02-28 20:19] ryanflorence commented on #38
I've had a version of this a couple years ago that had this api:

`<Media queries={{ small: '...', large: '...' }}/>`

[2017-02-28 20:23] VinSpee commented on #38
@ryanflorence here's the API I was suggesting, the same as your idea:

https://github.com/ReactTraining/react-media/pull/39/commits/a0665e881278ba83280fca08229e7af5bec14336#diff-02d7a6fb8ca14af07e3d2ce4f14dea77R77

[code]

[2017-03-14 16:02] stephenjwatkins commented on #38
I've been wanting this as well. I hope this change makes it in!

[2017-03-28 10:57] edorivai opened #46 "Thoughts on server side rendering"
This is intended to share some thoughts, and is somewhat related to #13.

My goal is for desktop specific code not to be downloaded/evaluated on mobile devices and vice versa. This is something that I think would present a significant boost to initial load time for many websites.

Now, a combination of this library and `react-loadable` would work perfectly fine, if server side rendering is not a r

[2017-03-29 16:36] mjackson commented on #46
I think the only thing we need to give you on our end is a `<Media defaultMatches>` prop that you can use to override the default `matches` state. Then you can get as fancy as you want and we don't even have to know about it.

[2017-03-29 16:36] mjackson commented on #46
I should clarify: you can think of `<Media defaultMatches>` like `<input defaultValue>`. It just sets the initial state.

[2017-03-29 16:49] edorivai commented on #46
I'll dive into it thanks!

On Wed, Mar 29, 2017, 18:36 MICHAEL JACKSON <notifications@github.com>
wrote:

[2017-03-31 12:57] edorivai commented on #46
I think I misunderstood; I thought `defaultMatches` was already available. But as far as I can tell it is not, right?

But yes, I think defaultMatches would be cool. Just to make sure I understand properly: on the server `react-media` detects that it cannot resolve any media queries, so it will apply the `defaultMatches`. We would have to make sure that the initial render on the client uses `defau

[2017-03-31 17:51] mjackson commented on #46
The change here is really simple, probably only a few lines. Instead of

[code]

the `<Media>` component should do

[code]

[2017-04-04 08:11] edorivai commented on #46
Would you appreciate a PR, or are you planning to look into this yourself for a bit?

[2017-04-05 10:17] craigtaub opened #48 "Approach to unit testing with Enzyme"
Hi,

Has anyone had any success with unit testing via Enzyme shallow render?

The only way I could think of was to render twice, something akin to:
[code]

This did lead me to believe perhaps a HoC approach would have made it easier to control, but I know that would have its own drawbacks.

Would love to hear any other ideas/thoughts.

[2017-04-05 10:25] #48 closed

[2017-04-06 11:55] edorivai commented on #46
I've actually got a version working with the exact changes as you outlined them. I can submit a PR if you like, but I have one question. Currently it *always* matches by default:

[code]

You suggest to disable matching by default, which works for me, but might break other peoples' stuff. For me the default doesn't matter, because I will always override the default. What would you prefer `defaultP

[2017-04-11 12:27] edorivai commented on #46
Awesome. Are you planning to bump the NPM version any time soon?

[2017-04-11 16:21] mjackson commented on #46
Sure, I can cut a release later today :)

[2017-04-11 16:21] #46 closed

[2017-04-20 16:16] mjackson commented on #38
I know it's a little late for discussion around this (especially since I just merged #39 this morning) but what's to prevent you from doing this @VinSpee?

[code]

You'd get the same result, right?

Only reason I'm wondering is because the code is a lot more complex now just to support the `queries` prop, but it seems like you could achieve the same result with more than one `<Media>` element.

[2017-04-20 16:21] mjackson commented on #38
Ping @souporserious who I know was also thinking about this problem

[2017-04-20 16:43] VinSpee commented on #38
in the specific example I provided, that would be a fine solution, but if I'm doing something like changing classnames based on breakpoint, it becomes very very messy quickly

[2017-04-20 16:58] souporserious commented on #38
Same thoughts as @VinSpee, the ability to pass multiple queries can help with overall responsive design. With the latest addition I can now build a context provider and HoC around `Media` and pass my breakpoints down to child components really easy. Similar to [this project](https://github.com/jxnblk/react-media-context).

[2017-04-20 17:15] mjackson commented on #38
Thanks for the feedback, @VinSpee and @souporserious. It'd be great to have a test that shows off what you're talking about, just so I can easily remember why the added complexity is justified. Maybe something like this?

[code]

[2017-04-20 17:17] VinSpee commented on #38
happy to add a test for that case. incoming.

[2017-04-20 17:25] mjackson commented on #38
@VinSpee Maybe just modify the existing test you wrote for this feature.

[2017-04-20 17:35] gribnoysup commented on #38
Was waiting for this PR for exactly the same reason, it is not always about rendering/not rendering component on some breakpoint, but changing its props to. Great work @VinSpee!

[2017-04-21 02:52] mjackson commented on #38
I'm starting to think it may be better to just have a separate component for this behavior, instead of adding a `<Media queries>` prop. There's no reason 2 completely separate code paths need to live in the same component. But I'll probably do that refactoring on my own.

Thanks again for your work here, @VinSpee! 💃

[2017-04-21 02:52] #38 closed

[2017-04-21 13:18] TAGC opened #59 "React rendering failure when trying to use Media component to do anything at all"
I'm unable to use Media component to do anything without getting an error like this:

I also see this warning in the console:

I based Temp on the example component given in the README:

[code]

I then try using this within another React component:

[code]

[2017-04-21 13:47] TAGC commented on #59
For the record, I've just tried something very similar with [react-responsive](https://github.com/contra/react-responsive) and the same issue occurs.

[2017-04-21 13:55] TAGC commented on #59
I've discovered the issue; I need to use `import * as Media from 'react-media';` instead of `import Media from 'react-media'` (and ditto with react-responsive).

I'm not sure why this is as you're clearly exporting `Media` as the default export in your source code. The former should work as well. Might be a transpiling issue on my end.

[2017-04-21 15:23] mjackson commented on #59
Yep, sounds like you've got an issue with your compilation step. Good luck!

[2017-04-21 15:23] #59 closed

[2017-04-21 16:32] souporserious commented on #38
What are your thoughts for the other component @mjackson? I've been playing around with this and had some ideas.

A way to wrap a tree and provide common breakpoints to all components, would most likely just wrap your highest level component:
`<MediaQueryProvider queries={{ sm: {  maxWidth: 300 }, md: { minWidth: 301 }  }}>`

HoC to easily grab the currently matched queries from MediaQueryProvider

[2017-04-21 18:03] mjackson commented on #38
I'm a big fan of just using straight components instead of providers + HOCs. I was just thinking it would be great to have support for multiple queries as a completely separate component instead of a different prop to the same component. Right now, all of the code in `<Media>` essentially switches like this:

[code]

Thing is, most people are only actually going to use either `query` or `queries`,

[2017-04-21 18:06] VinSpee commented on #38
I'm not opposed to a multiple queries export save for the weirdness it creates around importing (feels weird to have one as the `default` and one named). maybe a v2 after all?

[2017-04-21 18:09] mjackson commented on #38
@VinSpee Agree. If we do go with 2 components, I think a v2 makes sense.

[2017-04-21 20:36] souporserious commented on #38
Love it! 😄  it's so easy to make things more complicated when they can actually be more simple and explicit 😆

[2017-04-21 23:56] mjackson commented on #38
This issue has me thinking about another thing: the `render` prop. With a single media query, it makes a lot of sense to have a `render` prop that doesn't render unless the query matches. But with multiple queries, it's less clear what that prop is for.

[2017-04-30 14:14] saniko opened #64 "Server side render warning"
HI,
Got the "Warning: React attempted to reuse markup..." message.
Following issue [13](https://github.com/ReactTraining/react-media/issues/13) and [46](https://github.com/ReactTraining/react-media/issues/46), I don't understand whats is the preferred way to solve this.

Could someone please clarify.

Best.

[2017-05-20 11:26] deiucanta opened #65 "Prop `query` is required even if I use `queries`"
[code]

[code]

[2017-05-29 11:17] gribnoysup commented on #65
I'm getting the same "issue" here, but it seems that the problem is not in required `query` prop. Seems like `queries` API wasn't published yet, so if you install this module via npm right now, you will get the version without queries

[2017-05-30 18:14] alanhussey commented on #65
Ah, that makes sense. Looks like [`1.5.1`](https://github.com/ReactTraining/react-media/blob/v1.5.1/modules/Media.js) doesn't have any support for `queries`.

[2017-06-01 10:54] LoicMahieu commented on #46
Hi @mjackson Are you planning to... bump the NPM version ;) ? Thanks! 🚀

[2017-06-15 15:10] zonak opened #67 "Accessing PropTypes via the main the main React"
Given the upcoming release of v16 of React when PropTypes will be removed and not just a warning it would be great if `react-media` can start using the standalone one.

[2017-06-15 15:13] zonak commented on #67
Closing in favor of:
- https://github.com/ReactTraining/react-media/pull/66
- https://github.com/ReactTraining/react-media/pull/57
Sorry for the noise - I checked the issues only at first.

[2017-06-15 15:13] #67 closed

[2017-06-15 23:27] cherihung commented on #65
when will there be another release to include the current code supporting 'queries' ?

[2017-06-16 01:50] mjackson commented on #65
You're trying to use a feature that hasn't been released yet. It'll be there in the next major version.

[2017-06-16 01:50] #65 closed

[2017-06-21 13:57] nezed opened #68 "Bump 1.6.0"
### Changelog:
- `defaultMatches` prop (#46, #50)
- `queries` prop (#38, #39, #58)
- Migrate to `prop-types` package (#66)

[2017-06-22 11:15] bouzlibop commented on #68
Are there any plans on when it can be released?

[2017-06-26 08:53] bouzlibop commented on #68
^ cc @mjackson

[2017-06-26 15:49] mjackson commented on #68
I'll probably do it this week, but it won't have the `queries` prop. That code still needs some work.

[2017-06-26 15:49] #68 closed

[2017-06-26 15:50] bouzlibop commented on #68
Awesome, thanks! :)

[2017-06-29 06:22] bouzlibop commented on #64
@saniko If I'm not mistaken the warning message will disappear as soon as new version is released (see also https://github.com/ReactTraining/react-media/issues/68).

[2017-07-04 13:15] bouzlibop commented on #64
@mjackson would you be able to release new version this week? 🙏

[2017-07-11 07:44] mjackson commented on #68
Done! Just published the new release as version 1.6.0 https://github.com/ReactTraining/react-media/releases/tag/v1.6.0

Enjoy :)

[2017-07-11 07:46] mjackson commented on #64
@bouzlibop Done! Just released version 1.6.0 https://github.com/ReactTraining/react-media/releases/tag/v1.6.0

[2017-07-11 07:46] #64 closed

[2017-07-11 11:20] nezed commented on #38
@mjackson I'm voting for reopen this issue cause merged #39 #58 are dropped from master.
We still need `queries` prop

[2017-07-11 15:54] 7rulnik commented on #68
@mjackson what work you talking about? Can you describe it in new issue?

[2017-07-12 04:40] mjackson commented on #68
@7rulnik The code accepted both the `query` and the `queries` prop, but it wasn't clear what would happen if both props were given. The way the code was written, the `query` prop would always take precedence. Instead, I'd rather just cut a 2.0 release that accepts *only* a `queries` prop. Then, if you only have a single query, just use one.

[2017-07-12 17:20] VinSpee commented on #68
@mjackson open to doing that soon? I'm happy to PR the change.

[2017-07-12 23:12] mjackson commented on #68
@VinSpee Yes, I'd like to do it soon. And my apologies for removing the commits you previously made. I wanted to cut another 1.x release with the `prop-types` dep so people could get rid of the warnings, but I didn't want to release with both props because it was messy. I think it'd be easier to cut a 2.x release and just change the API in a backwards-incompat way. I'll open a new issue that descr

[2017-07-12 23:27] mjackson opened #69 "Add <Media queries> prop"
This is a follow-up from #38. I removed the commits from #39 in order to ship a 1.x without deprecation warnings, and I'd like to release a 2.x that removes the `<Media query>` prop and uses `<Media queries>` instead. This is a breaking change.

The API should be:

[code]

Note that the value of the `queries` prop is *not* itself a media query, but its values are. The `children` callback receives

[2017-07-12 23:27] mjackson commented on #38
@nezed Good call. I opened #69 instead. Let's follow up there.

[2017-07-12 23:28] mjackson commented on #68
Let's follow up in #69

[2017-07-13 05:25] souporserious commented on #69
This looks great! Following the pattern of react-router and other libraries, do you think there should just be a `render` prop and no access to `children`?

[2017-07-13 16:35] mjackson commented on #69
I definitely like the name `render` more than I like `children`, but I hesitate to disable the `children` prop entirely just because it's the only one built in to JSX. Maybe we support them both and they do the same thing? Like, `render` is just an alias for `children`?

[2017-07-19 17:07] FBosler opened #70 "Difference to react-responsive?"
Not really an issue but something that bothers me (and I think other people as well). When doing a quick search for responsiveness in react react-media and react-responsive (https://github.com/contra/react-responsive) come up. So I checked both github pages out, and from what I can tell both libraries look rather similar in what and how they do it.

So I think it would be worthwhile to include som

[2017-09-10 17:36] dashed opened #71 "Document defaultMatches prop"
Not mentioned on `README.md`.

[2017-09-10 22:01] mjackson commented on #71
You're right! I'd be happy to merge a PR that updates the README. Thanks :)

[2017-09-10 22:01] #71 closed

[2017-09-26 07:09] gribnoysup commented on #69
Hi @mjackson!

If yoy are still interested in going with this approach for next major release, I created a PR with a solution as described in this issue

[2017-11-29 07:20] mjackson commented on #70
react-responsive works like an `if` statement. You create all of the elements inside their `<MediaQuery>` component, and then it decides whether or not it'll actually render those children to the page. In other words, like this:

[code]

However, when the media query does *not* match you still create all of those elements, but essentially discard them when none of them are rendered to the page.

I

[2017-11-29 07:20] #70 closed

[2017-12-08 19:38] richardzcode opened #73 "Why not just child elements?"
Not an issue. Just curious why function as child plus render prop. Why not just child elements?

Isn't this easier to write, and easier to separate components base on viewport width?
[code]

Just wanted to see if there is any downside of child elements I am not aware of.

Thanks,
Richard

[2017-12-09 00:18] mjackson commented on #73
Hey @richardzcode, please see [my answer to this question](https://github.com/ReactTraining/react-media/issues/70#issuecomment-347774260) in a similar issue from a few weeks ago

Hope that helps!

[2017-12-09 00:18] #73 closed

[2017-12-09 02:57] richardzcode commented on #73
I see. Thank you!

[2017-12-12 17:07] disintegrator opened #74 "Differing state after componentWillMount on client and server breaks SSR"
Firstly, thanks for this library!

I'm currently trying to use react-media in a project which has SSR and seeing errors when the react tree mounts on the client-side (`Warning: Did not expect server HTML to contain a <div> in <div>.`). Doing some experimentation on the side, I confirmed that the state of the Media component after `componentWillMount` differs between client and server. `if (typeof

[2017-12-13 18:59] mjackson commented on #74
The `typeof window` check is in `componentWillMount` specifically to support SSR. The rest of the code in `componentWillMount` When you're rendering server-side, you need to use the `defaultMatches` prop to populate your initial state to whatever you think it will be on the client. For example, if you have a media query that is designed to target small screens, and the request is coming from a mob

[2017-12-13 18:59] #74 closed

[2018-01-15 05:43] amanmavai opened #75 "could you please explain the use cases when should we use this component instead of using regular css media queries. thanks"

[2018-01-15 10:46] edorivai commented on #75
I'm using it for Server Side Rendering, so I don't render duplicate content.

[2018-01-17 20:18] raycohen opened #77 "react 16 Portals + iframes"
using react 16 portals, we are rendering part of our component tree into an iframe. We ran into the issue where the `Media` components in that part of the tree are referencing the parent window when we want it to reference the iframe.

Would you accept a PR to allow specifying the window object to be used (as an optional prop) for the `matchMedia` call, in our case sometimes an iframe's `contentWi

[2018-01-19 02:26] mjackson commented on #77
Mmm, yes, that sounds like a good idea.

Can we make it automatic? For example, auto-detect if we are in an iframe and use that? I can't think of any situation where you'd render a `<Media>` in an iframe and want the media query registered on its parent window.

[2018-01-19 02:49] mjackson commented on #75
There are lots of use cases, but I'll just mention a very basic one. Let's say you wanted to render a `<SmallScreen>` component when the screen is smaller than 400px, and a `<LargeScreen>` component when the screen is wider than 400px.

[code]

This would allow you to easily decide which component to render based on the screen width.

Hope that helps!

[2018-01-19 02:49] #75 closed

[2018-01-23 18:22] tonyjmnz commented on #77
Related PR https://github.com/ReactTraining/react-media/pull/78

[2018-01-24 08:21] edorivai commented on #75
Oh, just to add to @mjackson. If you would implement something similar using only CSS media queries, you would be forced to render **both** `<SmallScreen />`, as well as `<LargeScreen />`. Deciding which component to render in JS, allows you to prevent that performance hit.

[2018-01-30 23:40] mjackson commented on #77
Fixed in #78

[2018-01-30 23:40] #77 closed

[2018-02-01 17:38] axelav opened #79 "Issues `import`ing module"
I'm unable to `import` the module as shown in the docs & am failing to find any `default export` in the source code. I'm trying to pull this into a pretty straightforward app that began using `create-react-app` so I don't anticipate any compilation issues - I've been wrong before though :).

`import Media from 'react-media'` gives me an error: `export 'default' (imported as 'Media') was not found

[2018-02-01 20:24] gpersell commented on #79
This latest version broke our build.  When we import react-media, we get

[2018-02-01 20:25] dougajmcdonald commented on #79
I'm seeing the same thing as the OP but oddly wasn't seeing this a couple of days ago. I'm using `1.6.1` so will try upgrading to `1.7.0`

[2018-02-01 20:45] gpersell commented on #79
Same for us.  1.7.0 is broken but 1.6.1 works.

[2018-02-01 21:55] mjackson commented on #79
Sorry for the inconveniences! 1.7.0 was a bad release. I've unpublished it so you should be alright for now.

[2018-02-01 21:55] #79 closed

[2018-02-01 22:07] axelav commented on #79
thanks for the prompt reply @mjackson. I'll give `1.6.1` a shot.

[2018-02-04 10:15] eahlberg commented on #46
@edorivai I'm also interested in this, do you have an example repo somewhere of how you approach this?

[2018-02-05 08:15] edorivai commented on #46
@eahlberg I don't have an example repo, but the gist is something like this:

1. Detect device, serverside based on User Agent info using something like https://github.com/faisalman/ua-parser-js
2. Store device info in a way that your components can access it at render time, we use a redux store.
3. Render `<Media>` element, with `defaultMatches` prop set, based on the device found in (1), example

[2018-02-05 11:46] eahlberg commented on #46
@edorivai alright, sounds like a good approach. Will see if it fits for my use case, but thank you very much for taking the time to explain!

[2018-02-05 20:31] amannn opened #81 "Two-pass render on the client"
Thanks for this great library!

I recently had an issue while rehydrating server side rendered markup that contained a react-media component. I'm pretty sure it was because the server side rendered markup was the desktop version and on the client the component immediately rendered the mobile markup when the respective media query matches.

With React 16 it's no longer mandatory to have a 100% matc

[2018-02-06 10:53] yamafaktory opened #82 "Publish v1.7.0 to npm 🚀"
Hi!

The latest release has not been published yet to npm https://github.com/ReactTraining/react-media/blob/master/package.json#L3.

Thanks!

[2018-02-06 11:05] yamafaktory commented on #82
Sorry for the convenience, I'll self-close it as this has been already discussed in #79.

[2018-02-06 11:05] #82 closed

[2018-02-06 16:15] mjackson commented on #82
@yamafaktory I'm planning on releasing 1.7 later today. Thanks for the nudge ;)

[2018-02-08 05:33] mjackson commented on #82
I just [released 1.8.0-rc.1](https://github.com/ReactTraining/react-media/releases/tag/v1.8.0-rc.1). Please give it a shot and let me know how it goes!

[code]

[2018-02-08 05:34] mjackson commented on #79
@axelav I just [released 1.8.0-rc.1](https://github.com/ReactTraining/react-media/releases/tag/v1.8.0-rc.1) which should not have this issue. Please give it a shot and let me know how it goes!

[code]

[2018-02-08 16:47] axelav commented on #79
@mjackson seems to have done the trick - thanks for the heads up!

[2018-02-08 18:49] mjackson commented on #79
Thanks for the feedback, @axelav. Just released in 1.8.0.

[2018-02-14 23:35] dakotamurphyucf commented on #59
Just in case someone comes by this and uses cjs imports and gets this. Try
``const Media = require('react-media').default;``

[2018-02-18 17:25] unindented opened #83 "Version 1.6.0 increased size considerably"
I think caused by the addition of `prop-types`:

<img width="1112" alt="screen shot 2018-02-18 at 9 26 56 am" src="https://user-images.githubusercontent.com/69485/36354746-e7525c7e-148d-11e8-82d3-03c87fa8d177.png">

People using Flow/TypeScript don't use PropTypes. Would you consider removing them from `dependencies`, and stripping them out during build or similar?

[2018-02-22 04:31] mjackson commented on #83
Yes, thanks for bringing this to my attention. :)

Which build are you using?

[2018-02-22 07:56] unindented commented on #83
I think the one at the root, cause `package.json` doesn't specify a `module` key, so I'm pretty sure Webpack is picking the `index.js` and `Media.js` files at the root.

[2018-03-19 11:18] peppescg opened #85 "Render different component for ssr mode and client side"
Hi, I have a strange behavior. I want render a component in server side mode using user agent, but in client I want use media query, beacuse it is possible that bowser client is resized on a mobile width.
With js disabled it works well, but if it is enabled I have a warning in console
[code]

Now I am in desktop mode, so I rendered ssr desktop component, in the client with browser resized, I have

[2018-03-22 10:55] abenhamdine commented on #69
Any news about this ?
I think this feature is still needed, although https://github.com/ReactTraining/react-media/pull/72 has been closed without any explanation.

[2018-03-28 16:43] unruffledBeaver commented on #81
I have a wrapper around `react-media` that I use to make sure we are only using it for defined breakpoints in our CSS *and* for two pass rendering. Seeing as cWM will be deprecated in the future I think this would have to be done anyway.

[code]

[2018-04-03 14:44] abdellah-el-mennani opened #86 "error when using enzyme mount"
Sorry for my English,
I tried to test a component that uses Media component using enzyme and jest but I got this error:
[code]
I use mount from enzyme.

[2018-04-03 15:40] RusinovAnton commented on #86
I've just fixed my tests by adding mock for `window.matchMedia` API in the setup file of jest tests.
I assume it could be added in the `beforeAll` or `before` hooks also if needed.

[code]

[2018-04-03 16:43] abdellah-el-mennani commented on #86
Thank you a lot @RusinovAnton , the trick works

[2018-04-03 16:43] #86 closed

[2018-04-13 20:06] CallidusAsinus opened #87 "media query changes in file require a full browser refresh when using react-hot-loader"
When I make a change such as ```<Media query="(min-width: 1120px)">``` to ```<Media query="(min-width: 900px)">```, I need to refresh my browser in order for the change to take effect.

react version: 16.2.0
react-hot-loader version: 4.0.1
react-media version: 1.8.0
webpack-dev-server version: 3.1.1

[2018-04-26 11:26] thebuilder opened #88 "Use React 16.3 lifecycle methods"
Hey!

Since `componentWillMount` is considered unsafe in the latest version of React, i looked into replacing it with `componentDidMount`.

I've integrated the component into my project (rewritten it to use Flow types, and removed `json2mq` since i didn't need it).
If you'd like, i can update the current module to follow this structure.

The biggest change is that i've added a `ssr` prop. If this

[2018-05-07 09:18] prateekgoel opened #89 "Conditionally set value of variable based on Media query"
Instead of rendering two different components based on the query, I want to set a variable whose value then I need to pass as an attribute to the component.
Because, the only difference I need for different screen size is this attribute value. It seems this is not feasible with react-media as of now. Is there any solution to this?

[2018-05-08 06:46] prateekgoel commented on #89
Currently I am doing like this:
[code]
So basically, I want to have a variable set for the attribute value based on a condition. Something like below:

[code]

So that I don't have to rewrite my component at two places.

[2018-05-08 07:30] RusinovAnton commented on #89
@prateekgoel, I believe that your second example is works as expected, isn't it?

I've tried to make a similar demo, check this out:
https://codesandbox.io/s/ov1641xlx9

[2018-05-08 08:02] prateekgoel commented on #89
Yes this works. Sorry I think my question was a bit incorrect.
So, what I want is to evaluate value of variable based on the query condition.
Something like this:

[code]
Now, if I try to use this variable as an attribute to my component it gives an error because `myVar` don't contain a string. <Media /> returns a React element and not a string.

[2018-05-08 16:44] RusinovAnton commented on #89
@prateekgoel I need more context on that. Why do you even need to store that variable in that way?
Probably you don't need react-media for that? Consider to use bare using Web API

[window.matchMedia()](https://developer.mozilla.org/ru/docs/Web/API/Window/matchMedia)
https://github.com/ReactTraining/react-media/blob/master/modules/Media.js#L45-L46

[2018-05-09 06:16] prateekgoel commented on #89
@RusinovAnton I am using react-media at other places too in the usual way.
I need to set a variable like this at one place because my component is a [grommet](http://grommet.io/) component, whose UI changes based on the attribute passed. So, I want to have different attribute value for different screen sizes.
Will try to use the Web API.

[2018-05-09 11:14] owenhoskins commented on #81
@unruffledBeaver I am trying to follow the logic of this wrapper but wouldn't the <Media> component never server-render when `isClient` will always be false server-side?

[2018-05-09 14:40] unruffledBeaver commented on #81
@owenhoskins You could modify my implementation to take a defaultBreakpoint to always render on the server if that’s a concern.

[2018-05-09 16:53] owenhoskins commented on #81
@unruffledBeaver Thanks for the reply! I've set defaultMatches to true but the isClient check seems to prevent the server rendering because componentDidMount won't run server-side as I understand it.

For my use-case the markup rendered server side would be a speed-boost and most importantly for for crawler bots.

[2018-05-09 17:14] unruffledBeaver commented on #81
@owenhoskins You are correct in my component, it never renders on the server.

SSR content will definitely improve your time to first meaningful paint. As far as crawlers, most if not all major ones can parse single page apps that are purely client rendered so I don't think this will be a huge concern.

I use this approach for media queries very sparingly, only when the markup absolutely has to ch

[2018-05-22 05:16] prateekgoel commented on #89
@RusinovAnton window.matchMedia() works. But it won't work in case of server side rendering, correct?

[2018-06-22 05:08] prateekgoel commented on #69
Any update on this? Would like to use this feature.

[2018-06-24 20:17] daydream05 opened #91 "Is this SSR ready out of the box?"
I use [Gatsby JS](https://www.gatsbyjs.org/) and was wondering if I need to do any modifications if I need this to work for SSR. Thanks

[2018-06-28 14:14] theKashey commented on #91
react-media probably would not work with SSR, as long it does not provide methods to mock environment, and not match anything if you dont have `window` object (and you dont)

If you are looking for SSR-friendly media-matcher - take a look on https://github.com/thearnica/react-media-match

[2018-06-28 14:28] theKashey commented on #83
Current bundle size is not 2kb, as bundle-phobia displays. It is __30 kb__, as long all the used libraries, including prop-types, are inlined by rollup.

[2018-06-28 15:20] thebuilder commented on #88
The thing is, you'll get an output mismatch if rendering serverside, when the query doesn't match the default match.

That's the reason for the `ssr` prop. It adds the matcher if only rendering on the client.

[2018-06-28 16:45] unruffledBeaver commented on #81
@theKashey see my comment above, I already mentioned that you should send back a default if you have a sensible one.

[2018-06-28 22:44] theKashey commented on #88
In my case I do not use `Media` component to render something, only to calculate `match`. Next results for all `Media`s for all my breakpoints got stored in context, and every `renderer` read value not from Media, but from context.
For SSR you may put any custom value into that context, and thus put application render into the desired state.

Don't use Media directly - that's the only way to make

[2018-07-04 08:20] ken0x0a commented on #70
I tried both, and now
[code]
so, about rendering, no difference.

[2018-07-26 04:10] grantspilsbury opened #93 "How to set window size in jest test?"
How should I setup a test where a different component is rendered depending on screen size?

This is the component:

    <Media query={`(max-width: ${theme.screenSizes.sm.max}px)`}>
      {matches => (matches ? this.renderMobileView() : this.renderDesktopView())}
    </Media>

It only executes `renderDesktopView` but I'd like to also test `this.renderMobileView()`.
I've added this to my test `glob

[2018-07-26 19:16] olistic opened #94 "`onQueryStateChange` callback"
**This is a feature proposal.**

Hey! I really enjoy the declarative approach of `react-media`, but I just hit a wall in my use case where having a way of doing some imperative programming would really help.

## The problem

When the width is enough, my screen is horizontally split in two. To the left, I have component `Code` and to the right I have two tabs with components `Readme` and `Play`. Ju

[2018-07-26 19:17] ethanova commented on #93
adding
`global.window.dispatchEvent(new Event('resize'));`
after the innerWidth set also doesn't work

[2018-08-17 09:28] edorivai commented on #91
We use this lib with SSR, I explained our workflow here: https://github.com/ReactTraining/react-media/pull/50#issuecomment-315319363

[2018-08-24 09:15] edorivai commented on #91
@daydream05 I didn't read your original message properly. But getting this to work with Gatsby with your pre-rendered HTML will be impossible, since AFAIK Gatsby produces the HTML files at build time, at which point you have no information which device will be served.

I'm not familiar with Gatsby, but the only option I can think of is to render multiple versions of your site, but now you'll have

[2018-08-25 00:07] theKashey commented on #91
The problem with React-media+SSR is ... the absence of documentation.

[2018-08-26 09:00] edorivai commented on #91
We've just merged the PR with SSR docs!

[2018-08-26 09:00] #91 closed

[2018-08-26 09:37] edorivai commented on #83
@theKashey I think you're right! Even though `package.json` now specifies the `module` field, which points to the `esm` build, it seems that the `esm` build indeed does include all dependencies inline!

The bundle stats of our production build shows the following stats for `react-media`:
- Stat size: 36.47 KB
- Parsed size: 4.59 KB
- GZipped size: 1.94 KB

I suggest we make `prop-types` a `peerDep

[2018-08-26 09:46] edorivai commented on #85
@peppescg I suggest you use the [`defaultMatches`](https://github.com/ReactTraining/react-media#defaultmatches-prop-for-server-side-rendering) prop:

[code]

I assume the warning you're getting is coming from React, warning you that there is a mismatch between the server-rendered markup and the initial client-side render. It is impossible to prevent the mismatch from ever occurring, since at SSR-t

[2018-08-26 09:46] #85 closed

[2018-08-26 09:54] edorivai commented on #87
I guess it would be good to take prop changes of `query` into account.

I don't know whether it's a good idea, but I guess dynamically updating a media query wouldn't work right now.

[2018-08-26 10:00] edorivai commented on #88
@thebuilder Thanks for the input! I'm closing this in favor of #81. If you feel like it, we'd appreciate a PR with the solution outlined in that issue.

P.S. I'm not sure how @mjackson feels about rewriting the library with static types :see_no_evil:

[2018-08-26 10:00] #88 closed

[2018-08-26 10:05] edorivai commented on #89
I think @RusinovAnton is right. `react-media` is a convenience wrapper for React, around the `window.matchMedia` API. If you need media queries outside of React, I don't think it makes sense to use this library.

[2018-08-26 10:05] #89 closed

[2018-08-27 09:31] edorivai commented on #93
The tests here [manually mock](https://github.com/ReactTraining/react-media/blob/master/modules/__tests__/Media-test.js#L29) the `window.matchMedia` API. Would something like that work for you?

[code]

[2018-08-30 07:05] bradwestfall commented on #91
I was having this same issue on a Gatsby site I had planned on launching today. The problem with Gatsby SSR is that the static pages are created at build time so there's no opportunity to evaluate the client hitting the server to setup `defaultMatches` correctly.

I don't have much SSR experience and don't know exactly how `componentWillMount` works on SS and then how it gets called again client s

[2018-08-30 07:39] edorivai commented on #91
Hi @bradwestfall :wave:, thanks for your detailed write-up.

First of all, [we are planning](https://github.com/ReactTraining/react-media/issues/81#issuecomment-416025140) to move to `componentDidMount` already.

`componentWillMount` *does* fire on the server. However, it will be deprecated in future versions, so relying on it would be unwise.

I think I figured this one out. Since `componentWillM

[2018-08-30 07:45] #94 closed

[2018-08-30 07:48] edorivai commented on #93
@ethanova Your snipped actually looks good to me, so I'm guessing it's a setup issue.

Did you try `import * as Media from 'react-media'`?

[2018-08-30 07:52] edorivai commented on #69
@prateekgoel We've merged #72 into the `next` branch, and are probably releasing it as a major version bump (v2).

[2018-08-30 07:53] bradwestfall commented on #91
Thanks for the fast response. Any idea on a timeframe?

[2018-08-30 07:56] edorivai commented on #91
Sorry, can't be sure about a timeline. @mjackson is a busy man, and I'd like to pass these changes by him before publishing.

[2018-08-30 09:32] edorivai commented on #83
Just leaving this here for reference: https://github.com/facebook/create-react-app/issues/209

**tl;dr**
Even if we specify `prop-types` as a `peerDependency`, it will still end up in the final bundle. There is a [babel plugin](https://www.npmjs.com/package/babel-plugin-transform-react-remove-prop-types) that strips `prop-types` entirely, but I think that should be configured by consumers of this

[2018-08-30 13:43] edorivai commented on #93
I guess it depends on your setup. If you're using "plain es6" you shouldn't need the `* as`. Maybe if you share a minimal reproduction repo I can help you out further, but just from your test file I cannot see why you'd need the `* as`.

[2018-08-30 13:54] ethanova commented on #93
Ah dang, whatever the setup is for this project makes it so that the test requires `* as Media` but when changed in actual components it breaks the React App, so I can't keep the import at `* as Media`. Which means that I can't keep the test 😢

[2018-08-30 13:56] edorivai commented on #93
Is it a typescript project?

In that case take a look at the `allowSyntheticDefaultImports` flag which you should be able to set in your `tsconfig.json`

[2018-08-30 14:53] ethanova commented on #93
Looks like that might have broken some other things `TypeError: Adapter is not a constructor`
[code]

[2018-08-30 15:07] edorivai commented on #93
Yeah, if you set that flag, you won't need any `* as` anymore :smile: :

[code]

[2018-08-31 07:28] edorivai commented on #87
@CallidusAsinus I'm most probably missing something here, as I tried reproducing the bug, but couldn't manage.

I've quickly setup hot reloading in an ejected `create-react-app`-app, and tried to mirror your package versions. Only thing I couldn't manage was to get CRA working with `webpack-dev-server@3`, it comes with version 2.x.

I've published the setup here: https://github.com/edorivai/react-

[2018-08-31 07:30] edorivai commented on #93
@ethanova It seems to me that your issues are not `react-media` specific anymore, so I'm going to close this issue.

@grantspilsbury Please let me know if [the proposed solution](#issuecomment-416170644) doesn't work for you!

[2018-08-31 07:30] #93 closed

[2018-08-31 13:34] theKashey commented on #87
@edorivai - `modules.hot` and `react-hot-loader` are a bit different.
In your case you are _hot_ reloading your application, remounting all the components
With RHL - you will _hot_ update existing components.

The only way to fix this - handle query prop change in `componentDidUpdate()`

[2018-09-01 08:34] edorivai commented on #87
Hmmmm, I used the ["Migrating from create-react-app"](https://github.com/gaearon/react-hot-loader#migrating-from-create-react-app) recipe as outlined in the `react-hot-loader` docs. And the end result seems very similar to the ["Getting started"](https://github.com/gaearon/react-hot-loader#getting-started) flow.

How do I get this :point_up: ? :sweat_smile:

[2018-09-03 10:26] edorivai commented on #81
@amannn I've submitted #96 which implements the mechanism you proposed. Unfortunately I don't know yet when we'll be able to merge and publish. Please be patient :pray:

[2018-09-04 06:49] edorivai opened #98 "Cutting releases v1.9 and v2"
Hey @mjackson :wave:

**tl;dr**

- I think `master` is ready to be published as 1.9.
- Could you please review the changes in `next`?
- If you've given your :+1: for `next`, I'll go and polish the docs

A bit of an update on the current state of the repo. I've merged most of the outstanding PRs into either `master` or `next`. I think `master` should be publishable as a minor version bump, as we've

[2018-09-06 15:52] timkraut opened #99 "onChange callback is not triggered"
Hi,

I've been struggling with the `onChange` callback. The break point detection works fine but the function I pass to `onChange` is never called.

I use the following code:
[code]

I've created a Codesandbox to illustrate the issue:
https://codesandbox.io/s/5v82oypykl

Am I doing something wrong or is this broken?

Thanks in advance!

[2018-09-06 16:48] edorivai commented on #99
Hey, the current changes in master haven't been deployed to npm yet. Feel free to follow #98 for progress updates.

[2018-09-06 16:49] #99 closed

[2018-09-18 14:28] grsmvg opened #100 "Nested media queries cause state update on unmounted component"
The error can be reproduced when scaling down this codepen from above 720px to below 720px:

[https://codepen.io/gersomvg/pen/yxQgBB](https://codepen.io/gersomvg/pen/yxQgBB)

[2018-09-18 15:16] edorivai commented on #100
I'm sorry, can you elaborate. What is happening for you, what do you expect to happen?

[2018-09-19 10:13] grsmvg commented on #100
Just check the error in the console, when scaling down the window ;) Visually everything works as expected, but behind the screens React warns for changing state on an unmounted components.

The child component tries to update when the media query becomes falsey, but it is already being unmounted by the parent components that implements the same media query. Normally this should be prevented by a

[2018-09-19 10:45] edorivai commented on #100
![peek 2018-09-19 12-45](https://user-images.githubusercontent.com/765358/45748720-db9c9600-bc09-11e8-85ab-f015c7371568.gif)

I'm probably missing something, but I'm not getting any warnings.

[2018-09-19 13:12] grsmvg commented on #100
We're getting somewhere. It looks like it's Safari specific. Maybe browsers have different timing, when it comes to when events fire.

[2018-09-20 06:30] edorivai commented on #100
Ah I see. Yeah so we're already removing the event listener for media query changes in `componentWillUnmount`. And since the only place that we `setState` is located within that event handler, I guess we can conclude that in Safari, the media query handler is called _before_ `componentWillUnmount`, but _after_ the component is actually unmounted :thinking:.

This doesn't really make sense. I'm run

[2018-09-20 07:04] grsmvg commented on #100
Yeah, that's super weird. That would mean that for the child component it fires one cycle later than for the parent component.

I'll see what I can do here, debugging-wise...

[2018-09-21 04:11] yiochen commented on #100
The parent and the child have the same media query. When the media query gets triggered, the engine pushes two events to the event queue to be executed. The first event calls parent's `setState`, which will unmount the child, the second event calls child's `setState`. Looks like Safari doesn't do a good job of clearing out events already in the queue, even if the event listener is removed. I wrote

[2018-09-21 08:08] edorivai commented on #100
@yiochen thanks for the write up, that makes a lot of sense.

Soooo I guess this is a Safari bug?

[2018-09-21 11:48] grsmvg commented on #100
@yiochen Thanks indeed. I guess we can solve this easily, by making a thin wrapper around the addListener and removeListener that prevents this bug from happening. I'm happy to write a PR for this, if desired.

[2018-09-21 14:03] edorivai commented on #100
PR's welcome :)

[2018-09-22 05:13] kmoretz commented on #81
@edorivai I've tested your changes out on my application and it doesn't appear that the two-pass render is working properly. I'm experiencing the same behavior as before this change (with a value set for defaultMatches, so it should be running). Not sure why this would be happening or how best to resolve this behavior, any ideas as to why this might not be running?

[2018-09-25 07:34] #100 closed

[2018-09-25 07:39] edorivai commented on #81
@kmoretz How did you test this out? It would be really helpful if you could share a minimal reproduction repo, so I can take a look :pray:

[2018-09-25 12:04] kmoretz commented on #81
@edorivai I just tried to put together a minimal repo for this but had some issues reproducing the problem I had on your branch outside of our codebase. I've worked around this for now using some media queries but I'll put together a demo if I keep experiencing the same issue whenever this is merged.

[2018-10-01 15:43] flq commented on #98
Hi there,
would have loved the TS signatures, but it looks like a lot of good things are outstanding (last release is 8 months ago) - have you create some alternative package where I can pick up the latest additions?

[2018-10-03 06:36] edorivai commented on #98
@flq I have not created a for - if that is what you mean. As it stands releases are done by @mjackson, who's a busy man :sweat_smile:. I guess you could for this repo for yourself if you really have to. Otherwise, if the TS typings are all you're after, you can just copy/paste them into your own repo, or you could even create an entry in DefinitelyTyped if you feel like it.

[2018-10-03 06:41] flq commented on #98
I’m sure he’s busy. At the end I settled for react-responsive, which pretty much seems to do the same - I mean this can also always be a viable possibility, to stop supporting one lib in favor of another that does the same such that efforts can be focused.

[2018-10-04 21:49] Rockson opened #102 "please close"
please close

[2018-10-05 10:53] #102 closed

[2018-10-12 21:28] ImHamzaAnwer commented on #99
I am facing the same issue

[2018-10-16 18:41] contra commented on #70
@mjackson FWIW react-responsive works both ways -

[code]

Has always supported both - not sure where you got confused there.

[2018-10-18 16:44] tstirrat15 commented on #98
I'd love to see v2 released as well.

[2018-10-28 11:24] JeroenReumkens opened #106 "Removing componentWillMount"
Hi,

Currently the React team is preparing for Concurrent Mode (previously known as Async Mode). To prepare my own app for that, I started wrapping my app in `<React.StrictMode>`. By doing so I noticed that React Media still implements `componentWillMount`, something the team advices to remove as soon as possible to prepare for concurrent mode. See https://reactjs.org/docs/react-component.html#uns

[2018-10-28 14:25] #106 closed, assigned to nobody

[2018-10-30 15:54] grsmvg commented on #98
A minor version bump shouldn't be too much work right? Would be nice to have the Safari event listener bug solved, which is merged a month ago, @mjackson .

[2018-11-16 21:53] jsphkhan opened #108 "Avoiding wasted render/re-render"
When using React "Why Did You Update" (why-did-you-update) module to help debug and find wasted renders, I found the Media component to be re-rendering unnecessarily. Has this been brought into notice by anyone earlier. If not, please let me know of any suggestion,

<img width="636" alt="hotels__find_cheap_hotels__hotel_deals__hotel_booking___altayyar_online" src="https://user-images.githubusercon

[2018-11-30 15:38] mjackson commented on #98
Hey @edorivai, I think I forgot to mention that I fully automated releases on this repo :) I will take a look at the changes and cut some new releases today, but let's sync up on how this is to be done going forward. I don't want to be the bottleneck here :)

[2018-11-30 16:11] edorivai commented on #98
@mjackson Sounds good, I'll shoot you an email so we can take the conversation there.

[2018-12-01 04:16] mjackson commented on #108
I'm sorry, but there isn't enough information here to help you. Re-renders could be caused by parent components passing new props. But the only time the state of a `<Media>` component changes is when the state of its media query changes.

[2018-12-01 04:16] #108 closed

[2018-12-08 14:46] char0n opened #109 "React strict mode"
In [Reacts strict mode](https://reactjs.org/docs/strict-mode.html), react-media is triggering following error when `<MediaQuery>` component is used.

[code]

Would it be possible to comply with the strict mode ?

Thank you

[2018-12-10 12:58] edorivai commented on #109
Hi @char0n,

#96 should fix this, you can expect it to be merged soon.

[2018-12-10 12:58] #109 closed

[2018-12-12 10:58] edorivai opened #110 "v2 umbrella"
# 2.0
- [x] change `query` prop to `queries` (#72)
- [ ] two-pass render + migrate to `componentDidMount` (solves #81, #91, #109, PR: #96)
- [ ] run tests in `<Strict>` mode

# 2.1
- [ ] implement a hooks API, exposed as `react-media/hooks`

[2018-12-12 11:02] edorivai commented on #98
@grsmvg, @flq, 1.9 has been published to npm, it includes TS signatures and a fix for our safari bug. Sorry for the delay :sweat_smile:.

@tstirrat15 progress on v2 will be tracked in #110

[2018-12-12 11:02] #98 closed

[2018-12-12 11:12] grsmvg commented on #98
Great, thanks a bunch! :)

[2018-12-12 12:08] grsmvg commented on #98
I get a bunch of runtime errors with version 1.9.0

[code]

[2018-12-12 12:09] grsmvg opened #111 "Errors after upgrading from 1.8 to 1.9"
I get a bunch of runtime errors with version 1.9.0

[code]

[2018-12-12 13:33] edorivai commented on #111
I'm seeing the same in an older project of mine, though I get them at compile time.

I'm pretty sure the root cause is that with our current rollup setup, the esm bundle depends on `@babel/runtime`, while this is not added as a (peer)dependency. Looking into this :eyes:

[2018-12-12 13:35] kevva commented on #111
The new release also causes tests to fail unless you manually set `__DEV__` globally. Not ideal.

[2018-12-12 13:40] sarabs3 commented on #111
I am also getting `ReferenceError: __DEV__ is not defined` error.

[2018-12-12 13:41] spartDev commented on #111
I made a PR #112 for `ReferenceError: __DEV__ is not defined`

[2018-12-12 14:05] wellyal commented on #111
waiting for the fix...

[2018-12-12 14:05] wellyal commented on #111
I am also getting ReferenceError: __DEV__ is not defined error.

[2018-12-12 14:09] wellyal commented on #111
Can anyone make a patch release out of #112 please?

[2018-12-12 14:14] edorivai commented on #111
#112 is merged, which should fix the `__DEV__ is not defined` errors. Please upgrade to `1.9.1` to get the patch.

Regarding the `@babel/runtime` errors, I'm still looking at a proper fix, there are a couple things to consider here. In the meantime you can either switch back to 1.8.0, or install `@babel/runtime` manually into your project.

[2018-12-12 14:15] iamtchelo commented on #111
Thanks @edorivai =)

[2018-12-12 16:13] edorivai commented on #111
@grsmvg I've opened #113 to fix the `@babel/runtime` dependency issue. I want to give @mjackson some time provide feedback before merging. However, if he's doesn't have the time to review, I'll merge it some time next week :smile:.

[2018-12-12 16:16] grsmvg commented on #111
Great! The safari bug is just a warning, that won't crash in production, so i'll just stick to 1.8.0 for now :)

[2018-12-12 18:19] #111 closed

[2018-12-12 18:31] mjackson commented on #111
Hey everyone, sorry for the bad release. [Version 1.9.2 should be published shortly](https://travis-ci.org/ReactTraining/react-media/builds/467131383) which fixes both the `__DEV__` issue and the missing dependency.

[2018-12-12 23:46] tstirrat15 commented on #110
Want help with any of this?

[2018-12-13 07:53] plainnany commented on #111
hello，version 1.9.2 still has errors
[code]

[2018-12-13 10:37] edorivai commented on #111
@plainnany :thinking: 1.9.2 is working in my project. Would you mind creating a replication repo for me to take a look at?

[2018-12-13 22:27] bdwain opened #114 "removing prop types causes issues"
My app started having issues since #112 when I run it in prod mode. Even if the prop type verifications aren't run, some things rely on the prop types of a component to work properly (such as https://github.com/ngReact/ngReact).

Also, I have a component that wraps the Media component and reuses some of its proptypes like this

[code]

which I think is a valid use of proptypes.

My thought is whil

[2018-12-14 08:41] edorivai commented on #114
Honestly curious; do you have production code that is dependent on prop types?

[2018-12-14 08:42] bdwain commented on #114
Yea I use both of the examples I gave in my original post. While none of the actual prop type validations happen in prod, the existence of those keys is important still.

[2018-12-14 08:48] edorivai commented on #114
Oh yeah, sorry if this was unclear, but prop types should still be available when using a development build. In 1.9.2, as long as you don't set `process.env.NODE_ENV === 'production'`, you should get a bundle including prop types. See [this piece of code](https://github.com/ReactTraining/react-media/blob/master/modules/Media.js#L76) if you're interested.

[2018-12-14 08:51] edorivai commented on #114
Oh wait, I get what you mean now. You're not stripping _your own_ prop types, and you're referencing `Media.propTypes`, so that will break in production. I see :thinking:

[2018-12-14 08:58] bdwain commented on #114
Yep. To me, this seems similar to minifying. It's not the job of the library author to remove the proptypes from the code. It's the job of the end user.

[2018-12-14 09:17] edorivai commented on #114
Funny, I actually said the same [here](https://github.com/ReactTraining/react-media/issues/83#issuecomment-417254939) a while ago :sweat_smile:! However, in the thread referenced there Dan Abramov [clearly states](https://github.com/facebook/create-react-app/issues/209#issuecomment-306796251) the recommendation from the React team is to refrain from using prop types in production behavior.

He con

[2018-12-14 09:50] edorivai commented on #114
Interesting, so if you want to use ngReact, you wouldn't even be able to remove prop types at all.

Personally, I prefer the current setup. If we manage to find workarounds for problems like this ngReact thing, I would argue we leave it as it's currently implemented. I realize this makes it impossible in your case to reference `Media.propTypes`, since you're not stripping your prop types in your p

[2018-12-14 09:56] edorivai commented on #110
@tstirrat15 Feel free to take a stab at any the last three - Strict mode tests, docs, hooks. I'm a bit short on time, but let me know if you want to start on one, and I'll write up some thoughts I have on that particular item.

[2018-12-14 10:09] bdwain commented on #114
I’m not sure what you mean. I’m not writing new wrappers around the Media
component regularly. But I did want my components to be able to just pass
through certain props to Media and not have to worry about what types it
expects.

If we can find a workaround that would be great. Then it’d be the best of
both worlds. I think it would need to be generic though, since I doubt
ngreact is the only libr

[2018-12-14 10:43] edorivai commented on #83
An update as of v1.9.2:

![image](https://user-images.githubusercontent.com/765358/49998093-a1862a80-ff93-11e8-831f-0c04665f0f4c.png)

## v1.5.1
- minified: 2.8 KB
- gzipped: 1.2 KB

## 1.9.2
- minified: 3.5 KB
- gzipped: 1.6 KB

## But...
Assuming you have your build process set up correctly (meaning you set `NODE_ENV=production`), and you are already using `@babel/runtime` in you app, we can lea

[2018-12-14 10:43] #83 closed

[2018-12-14 10:50] edorivai commented on #87
@CallidusAsinus If this is still an issue for you, I would really appreciate a reproduction repo to take a look at. You could even fork and edit [my failed attempt](https://github.com/edorivai/react-media-hotloader) at reproducing this.

[2018-12-14 17:07] tstirrat15 commented on #110
Strict mode tests sounds the most immediately tractable. Is that pretty straightforward?

[2018-12-14 20:33] edorivai commented on #110
Yes it should be. The idea would be to wrap all tests in `<React.StrictMode>`. @mjackson mentioned they're [already doing this](https://github.com/ReactTraining/react-router/blob/0853628daff26a809e5384f352fada57753fc1c3/packages/react-router/modules/__tests__/utils/renderStrict.js) in react-router. Instead of calling `ReactDOM.render` directly, they pass their components under test to a `renderStr

[2018-12-14 20:55] tstirrat15 opened #115 "Wrap all tests in <Strictmode>"
Part of #110. Opening this to track.

[2018-12-14 21:00] tstirrat15 commented on #110
Yep.

What I've seen in using it in our own project is that it throws warnings at runtime. Is Travis configured to treat warnings as failures? Otherwise it'd probably entail manual review of the test output.

[2018-12-14 21:06] tstirrat15 commented on #115
Example of how React Router does it: https://github.com/ReactTraining/react-router/blob/0853628daff26a809e5384f352fada57753fc1c3/packages/react-router/modules/__tests__/utils/renderStrict.js

[2018-12-14 21:17] edorivai commented on #110
Yeah I think manual review is fine. I usually run the tests before publishing, but more importantly, when users start complaining that something is not compliant with strict mode, we would be able to verify it quickly by running the tests.

[2018-12-14 22:08] theKashey commented on #87
(🐢 mode), as long as idea around Hot Loader is to change your code without changing your state - that is what you will get using React-Hot-Loader. But it could be tricky to setup it with CRA.

[2018-12-19 12:58] sarabs3 opened #117 "How to check orientation with this?"

[2018-12-21 10:35] edorivai commented on #117
This library is just a wrapper around the [`window.matchMedia`](https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia) API, meaning you can use any feature supported by media queries.

To answer your question, you could use the [`orientation`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/orientation) feature:

[code]

Disclaimer: I didn't actually run the code above, so ple

[2018-12-23 13:49] edorivai commented on #114
I'll close this for now. In the end it's a trade off, and I'd be happy to receive feedback from people having a problem with this. If sufficiently many people run into this, we might reconsider shipping prop types in the production bundle.

[2018-12-23 13:49] #114 closed

[2018-12-23 13:50] edorivai commented on #117
@sarabs3 I'll consider this solved. Let me know if anything remains unclear!

[2018-12-23 13:50] #117 closed

[2018-12-31 09:08] edorivai commented on #115
Closed in #116

[2018-12-31 09:08] #115 closed

[2019-01-02 21:21] tstirrat15 commented on #110
Do you want/need any help with the docs? Did you have an idea for a direction on that?

[2019-01-03 21:30] tstirrat15 opened #118 "Write a doc block for the queries api"
Part of #110

Based on the API described in the tests [here](https://github.com/ReactTraining/react-media/pull/72/files).

[2019-01-18 07:12] South-Paw commented on #110
Would it possible to get an RC build released on npm for the `next` branch?

I'd really like to see if the 2 pass renderer solves some issues I'm seeing in a project.

[2019-01-18 10:35] edorivai commented on #110
@South-Paw Yeah, that would be possible. Only gotcha is that the next branch has a big breaking change, we replaced the `query` prop for `queries`. See #119 and #69 for details.

Would it still be useful for you to test out the `next` branch, given this breaking change?

[2019-01-19 05:02] South-Paw commented on #110
Yeap I think it'd be fine to test it out even with those changes.

It won't be to hard to go through and migrate `query` to `queries` - from what I can see I can still put a string into `queries` and the render pattern remains as `{matches => matches ? <div>a</div> : <div>b</div> }` right?

[2019-01-20 18:37] edorivai commented on #110
@South-Paw No, the `queries` prop has to be an object, where each of it's keys represents a media query:

[code]

[2019-01-21 09:42] edorivai opened #120 "Deploy process broken due to npm auth issue"
Receiving the following message in Travis on [build 406](https://travis-ci.org/ReactTraining/react-media/builds/482324127):

[code]
... and later on ...
[code]

@mjackson could you take a look?

[2019-01-21 09:43] edorivai commented on #110
@South-Paw Hey I just prepared everything for an alpha release, but sadly the deploy process halted due to an invalid npm token. I don't have access to the npm project, so we'll have to wait for @mjackson to fix the token in Travis. See #120 for details.

[2019-01-22 15:38] tstirrat15 opened #121 "Make query and queries both valid ways to reference the props"
Per the discussion in #119. Opening this to track.

[2019-01-22 17:23] tstirrat15 commented on #121
Waiting on #122, since many of the changes that I'd be making in this work conflict with things on `master`.

[2019-02-02 21:43] South-Paw commented on #110
Hi, its been 2 weeks and @mjackson hasn't responded to #120 - has there been any movement on this?

Still pretty keen to try test this 👍

[2019-02-04 11:55] edorivai commented on #110
Hey guys, I'm really sorry about the delay. I've dm'd @mjackson, but I imagine his inboxes must be bursting :sweat_smile:.

In the meantime, would it be an option for you guys to test the `next` branch locally? You can check out a fork of this repo, then:
- check out the `next` branch
- run `npm run build`
- run `npm link`
- inside your own project: `npm link react-media`

Now run your project as

[2019-02-04 12:41] baumzeit commented on #110
Thank you!
I will try that later today.
Awesome work :)

[2019-02-04 13:42] baumzeit commented on #110
During build I get the following error:
I thought I posted this in case it's relevant for the upcoming release.
I dug into the error a bit but this is not something I can solve as of yet..

`modules/index.js → esm/react-media.js...
[!] (size-snapshot plugin) Error: ModuleNotFoundError: Module not found: Error: Can't resolve './Media.js' in '/'
Error: ModuleNotFoundError: Module not found: Error: C

[2019-02-04 16:17] edorivai commented on #110
@baumzeit Huh did the following, and was able to successfully build the project:

- Checkout latest version of the `next` branch
- Run `npm ci` to install dependencies
- Run `npm run build`

Did you do something similar?

[2019-02-04 16:44] baumzeit commented on #110
Yes, I can confirm:

- forked react-media
- cloned the repo
- npm install (also tried ci)
-npm run build

yields the above error.

Here is the complete trace:

`modules/index.js → esm/react-media.js...
[!] (size-snapshot plugin) Error: ModuleNotFoundError: Module not found: Error: Can't resolve './Media.js' in '/'
Error: ModuleNotFoundError: Module not found: Error: Can't resolve './Media.js' in '

[2019-02-05 15:03] edorivai commented on #110
@baumzeit Damn, you think this could be a windows issue? I don't have a windows environment at hand to test :\

In any case, when the build get's fixed you should be able to test the alpha release. Sorry again for the wait

[2019-02-05 15:17] baumzeit commented on #110
@edorivai It looks like it's a windows issue.
I tested it out on another windows machine with the same result.
- checkout `next`
- `npm ci`
- `npm run build`

[2019-03-10 02:54] South-Paw commented on #110
I've gotten really frustrated waiting for a month so when I need to test and/or fix the SSR issue a few websites now.

So I'm going through building and publishing my own version of `react-media` and hit the same issue as @baumzeit on Windows.

Problem seems to be in the `rollup-plugin-size-snapshot` package. Updating it to v0.8.0 changed the error to

[code]

Can't tell if its required or not, bu

[2019-03-10 03:16] South-Paw commented on #110
Scratch that, doesn't seem my republished version works either.

[code]

Gonna go find another package to do media queries now 👋

[2019-03-10 03:28] South-Paw commented on #110
Scratch that, doesn't seem my republished version works either.

[code]

How long until the npm token gets fixed @edorivai? I've pinged @mjackson twice on twitter and I doubt he's seen either... but its getting really frustrating that it's been a month and a half with no movement on the issue.

[2019-03-10 21:36] edorivai commented on #110
@South-Paw Hey man, I understand that you're frustrated. I've pinged @mjackson on twitter, as well as email, so there isn't too much I can do anymore. I've also considered publishing under a different npm package, but honestly didn't get the time to do so yet.

One quick remark on the error you're running into. When I build on my system (I'm running Linux), there's only a single file inside the `e

[2019-03-11 11:11] South-Paw commented on #110
@edorivai Sorry, I know its not your fault and @mjackson is obviously a busy person as well - just annoying to have a ~70k dl/w package, that works really really well and has a good 2.0 update coming to be hamstrung by a such a trivial issue 😥

I've been out tonight so no code time, but I'll run another build tomorrow and take a screenshot. Thanks for the continued replies 👍

[2019-03-13 21:15] moflo commented on #110
Hi @edorivai - we needed a hooks port so we created one, here: [react-media-hooks](https://github.com/moflo/react-media-hooks). I don't plan to publish to npm as this would likely be in conflict with your 2.0 plans. Also, we would need to add more tests, TS support, etc., but this private version works for us. Thanks!

[2019-03-16 09:06] edorivai commented on #110
@moflo Thanks :smile:. We're planning to add hooks as well, but we first want to get v2 published.

@South-Paw @baumzeit Good news, the deployment problems have been fixed :tada:. You should be able to install `react-media@next`. Let me know how it goes!

[2019-03-16 09:07] #120 closed

[2019-03-17 03:24] South-Paw commented on #110
@edorivai awesome, thanks 👍

[2019-03-17 17:29] edorivai commented on #121
I started working on this in #123

[2019-03-17 17:48] edorivai commented on #69
This should already be available in the prerelease of `2.0.0-alpha.1`. Please beware that the versioning is still up for debate; there is a good chance that this fix for this issue will actually land in a minor (v1) update.

You can expect the release soon (see #123 for details)!

[2019-03-17 17:48] #69 closed

[2019-03-17 17:49] edorivai commented on #81
This should already be available in the prerelease of `2.0.0-alpha.1`. Please beware that the versioning is still up for debate; there is a good chance that this fix for this issue will actually land in a minor (v1) update.

You can expect the release soon (see #123 for details)!

[2019-03-17 17:49] #81 closed

[2019-03-17 17:51] edorivai commented on #87
I'm going to close this for now. If this issue is still important for someone, then please ping me in this issue, and add a codesandbox reproduction case to your reopen request.

[2019-03-17 17:51] #87 closed

[2019-03-21 21:49] South-Paw commented on #110
@edorivai gave `react-media@next` a run on the Gatsby website I needed it on - unfortunately the 2 pass renderer that I thought would solve the issue that I'm seeing didn't make a difference when I built the site for deployment 😞

While I don't think I've got a specific Gatsby issue, I do think its to do with how Gatsby statically creates the website for build/publish and how it interacts with `re

[2019-03-25 09:32] edorivai commented on #110
@South-Paw If you have the time, it would be incredibly helpful if you could post a minimal reproduction repository that I can try out for myself.

One thing I can add though, I took a look with @baumzeit at the problems he was having, and he was using react-static. This was before the two-pass render was published to npm, so we quickly implemented the two-pass render in his own codebase. And that

[2019-03-28 10:36] #118 closed

[2019-03-28 10:36] #121 closed

[2019-03-28 10:37] edorivai commented on #110
@baumzeit If you have time, would you be so kind to test `react-media@next` in your project, and remove the custom fix for your two-pass rendering issue?

[2019-03-28 16:44] tstirrat15 commented on #110
Does that mean that `queries` is available in `@next` and that we should go ahead and give it a go?

[2019-03-28 17:15] edorivai commented on #110
It does, so yes, please try it out😊

[2019-04-02 16:55] tstirrat15 opened #126 "Problem with SSR + query"
I've been seeing this error when testing out `next`:

[code]

I've got a repro in a test, so I'll see what I can do to fix and then push a PR.

[2019-04-02 16:58] tstirrat15 commented on #126
JK. This is addressed in 11792078661da9219cf7ee5fff25fb0ab4c20225, but that's not released on NPM yet. @edorivai can you release that and I can test it in my project?

[2019-04-02 16:59] tstirrat15 opened #127 "Add .editorconfig file"
https://editorconfig.org/

It's a nice way to make sure that your editor automatically follows project conventions with regards to indentation and EOF.

[2019-04-03 08:38] edorivai commented on #126
Yeah, I'll actually cut a prerelease of v1 now that it should be backwards compatible!

[2019-04-03 08:55] #127 closed

[2019-04-03 09:09] edorivai commented on #126
Alright, `react-media@next` should now resolve to `1.10.0-alpha.0`, take a look!

[2019-04-18 19:54] caseytrombley opened #129 "React-media seems to nest the component within itself"
When using this, the component that you render inside the media query seems to get nested inside of itself. This makes it useless for passing down a boolean.

**Example:**

`<Media query="(max-width: 1023px)" render={() => <Chat recalculating={recalculating} />} />`

`<Media
          query="(min-width: 1024px)"
          render={() => (
            <GridCol base={12} lg={4}>
              <Chat r

[2019-04-19 10:53] #129 closed

[2019-04-19 14:07] Khrystyna commented on #93
@edorivai I am experiencing another issue, close to this one, maybe you can help me out.

I have component which has two `<Media>` components, one for mobile media query and another for desktop.

When I test it with jest, using your snippet above (`matches: true,`) it renders both components, obviously. How can I test, for example, mobile view, so only one component, the one for mobile query, is r

[2019-04-23 20:13] devinrhode2 opened #130 "Which browsers are supported?"
I can't find anything in the readme or issues mentioning anything about which browsers are supported.

I see react-responsive supports IE6+*, but I know react-media uses matchMedia for matching css queries in js - I know matchMedia is supported for IE10 and up. Does react-media simply work wherever matchMedia is defined?

FWIW I only need IE11+ support :)

[2019-04-26 07:44] Khrystyna commented on #93
I found a solution, maybe not the prettiest one, but it works. Method `matchMedia` takes media-query string as parameter, so I am just matching it to the one I want to test:

`  global.matchMedia = media => ({
      addListener: () => {},
      removeListener: () => {},
      matches: media === '(min-width: 545px)',
    });
`

[2019-04-30 20:12] devinrhode2 opened #131 "How to forward refs/make <Media> more transparent?"
Some code I am wrapping in a `<Media>` element has various `ref`'s - when I wrap the divs with the `ref`'s in a `<Media>` element, the refs are no longer defined for my component.

So basically I have:
[code]
ComponentA expects `this.refs.displayText0`... to be defined. But once I wrap my `<div ref={'displayText' + i}` divs in a Media element, the refs are no longer defined on my parent ComponentA

[2019-04-30 20:17] devinrhode2 commented on #131
I was reading some react documentation on forwarding ref's with HOC's here: https://reactjs.org/docs/forwarding-refs.html#forwarding-refs-in-higher-order-components
I think react-media would need to define some sort of api for that though... I forked react-media and looked at how this could be done, but since I'm new to react, am not sure if this is the correct approach.

[2019-04-30 20:22] edorivai commented on #131
Hi @devinrhode2, not to be dismissive, but are you sure you need a ref? This page of the docs provides some good background on when one would want to use a ref: https://reactjs.org/docs/refs-and-the-dom.html

[2019-04-30 20:30] devinrhode2 commented on #131
I wish I didn't need a ref but the code is necessary using the refs is
necessary. It's a bit complicated and foreign to me, but it's not like it's
some spaghetti code from hell ;)

On Tue, Apr 30, 2019, 3:22 PM Edo Rivai <notifications@github.com> wrote:

[2019-04-30 20:33] edorivai commented on #131
It also seems to me that you're using the old version of refs. From the docs, refs are used like this:

[code]

I'm sorry, I'm actually not too familiar with refs myself, since you so hardly need them.

[2019-04-30 20:37] devinrhode2 commented on #131
I may be able to use callback refs to achieve something similar for react 15

On Tue, Apr 30, 2019, 3:33 PM Edo Rivai <notifications@github.com> wrote:

[2019-04-30 20:38] edorivai commented on #130
Yeah, we definitely require `window.matchMedia`. As far as I know, we don't "officially" support any specific browsers, but the source code is really not too complex. So if you find any cross browser bugs, please do let us know :smile:

[2019-04-30 20:44] edorivai commented on #131
Heh, yeah, you're using the _really, really_ old version of refs. I didn't quite realize how old, but even the oldest legacy docs that are still online flag the "string refs" as being legacy, and they highly recommend moving over to callback refs: https://react-legacy.netlify.com/docs/refs-and-the-dom.html#legacy-api-string-refs

I'll close this for now, feel free to open a new issue if you're sti

[2019-04-30 20:44] #131 closed

[2019-04-30 20:44] #130 closed

[2019-04-30 20:47] devinrhode2 commented on #130
ok cool. For anyone googling, there are polyfills for matchMedia that I
think can give you browser support maybe back to ie6. React-responsive
mentions some polyfills at the end of their Readme, they should work
seamlessly with react-media just like with react-responsive.

On Tue, Apr 30, 2019, 3:38 PM Edo Rivai <notifications@github.com> wrote:

[2019-04-30 20:48] devinrhode2 commented on #131
thanks Edo!

On Tue, Apr 30, 2019, 3:44 PM Edo Rivai <notifications@github.com> wrote:

[2019-04-30 20:59] edorivai commented on #131
Ooh, found some more context, in [this comment](https://github.com/facebook/react/pull/8333#issuecomment-271648615) Dan mentions why text refs break with the "render callback" pattern, which is what we're using here. This seems the be the root cause of your issues.

[2019-05-13 21:41] joefiorini commented on #110
@edorivai I had to write a component that could listen on multiple, device-specific media queries, so I went ahead and used this alpha. It's working great in our uses of a single query and our new use of multiple queries. The one downside is that now the typescript defs are out-of-date. I tried my hardest to write a type that would tie the keys from the `queries` prop to the keys in the `match` pr

[2019-05-16 10:18] edorivai commented on #110
@joefiorini Thanks for letting me know! I'll have to take a look at the TS definitions

[2019-05-16 10:20] edorivai opened #132 "Update TS definitions for v1.10"
See https://github.com/ReactTraining/react-media/issues/110#issuecomment-491997585

[2019-05-23 11:31] edorivai commented on #132
@joefiorini, should be fixed and publish in `react-media@next`, or `react-media@1.10.0-alpha.1`, if you will.

Would you mind installing that version and checking whether these types work for you?

[2019-05-23 11:31] #126 closed

[2019-05-24 10:16] Neelimaordre commented on #93
Hi Khrystyna,
WHat is media in matches: media === '(min-width: 545px)',.
Thank you :)

[2019-05-24 10:55] edorivai commented on #93
@Neelimaordre It's on the first line of the snippet; the argument passed into the `matchMedia` function.

@Khrystyna basically hacks overwrites the original `window.matchMedia` with a hardcoded one, to define that the media query only matches when the query is equal to `'min-width: 545px'`.

[2019-06-19 22:54] brandoncc opened #133 "DropdownList hover should change rw-state-focus element"
Hi, thanks for this really nice project. I find it very weird that when you open a DropdownList, the first element is always selected (with the obvious border styling by default), and hovering has no effect on it. A traditional select dropdown will let you change the "active" option either with the keyboard or hovering an option, and each continues where the other left off. Your widget considers t

[2019-06-19 22:59] brandoncc commented on #133
In the meantime, I did this for anyone else who might have this concern:

[code]

[2019-06-19 23:45] edorivai commented on #133
Hi @brandoncc! Are you sure this is the correct repo for posting your issue?

[2019-06-19 23:52] brandoncc commented on #133
Ha, not it isn't. I have no idea how I did that. Sorry @edorivai !!

[2019-06-19 23:52] #133 closed

[2019-08-09 17:02] mikecousins opened #134 "React v16.9 support"
componentWillMount is deprecated with warnings now in 16.9.

Here is the warning that is emitted:
react-dom.development.js:12050 Warning: componentWillMount has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move code with side effects to componentDidMount, and set initial state in the constructor.
* Rename componentWillMount t

[2019-08-13 10:16] edorivai commented on #134
Please have a look at the next release:

[code]

[2019-08-14 19:39] cliffhall commented on #134
1.10.0-alpha.1 works for me. Before I was getting the following in the console:

Now the message is gone.

[2019-09-06 11:26] msegers commented on #134
@edorivai Hi,

So same as everyone else, why is this release an alpha any issues with the current lib?

[2019-09-06 11:34] edorivai commented on #134
Hi :wave:,

Reason it's an behind the `@next` flag is because I wanted to make sure some people tested this out in the wild before publishing a minor version bump. Since it's a minor bump, depending on the setup people have they might auto upgrade to this version without realizing. This should be fine, it's a minor upgrade, so it should be backwards compatible, but I wanted to make sure before pub

[2019-09-06 11:36] msegers commented on #134
Allright, thanks for your time!

[2019-09-16 10:14] edorivai commented on #134
v1.10.0 has been deployed as `latest`

`npm install react-media` should now install that version which should take care of any react deprecation warnings :tada:

[2019-09-16 10:14] #134 closed

[2019-09-24 06:09] JerryMissTom commented on #100
@edorivai  @Gersom-NL I come across this bug in my computer. The same code in https://codepen.io/gersomvg/pen/yxQgBB , I resize the Chrome several times, then it will show error info in Console. The screenshot is below
![屏幕快照 2019-09-24 下午2 01 49](https://user-images.githubusercontent.com/15966403/65485459-8b1edf00-ded4-11e9-8a67-c427ae051a62.png)

My computer is Mac Pro, OS version is 10.14.6 (18

[2019-10-13 14:53] AmaanKulshreshtha commented on #93
[This solution](https://stackoverflow.com/questions/46221210/jest-enzyme-how-to-test-at-different-viewports) could give you some inspiration

[2019-10-24 09:35] gooddaddy opened #137 "support typescript?"
how can i use it with typescript?

[2019-10-24 11:59] edorivai commented on #137
Should work out of the box, are you having any specific problems?

[2019-11-12 12:55] jonask94 opened #139 "Media tries to update unmounted component"
I’m getting the following warning from a Media-Component which implements a min-width media query:
„Can't perform a React state update on an unmounted component“.

The warning is thrown when the component is already unmounted and the user resizes the window.
It seems as if the event-listener which updates the matches-state is still alive after unmounting.

When inspecting the code I wondered why t

[2019-11-12 15:24] edorivai commented on #139
Thanks for the report. It would be really helpful if you could create a reproducible Codesandbox.
Two quick questions:
- We've had a similar report a while ago: #100. Are you experiencing the same as in that issue?
- Which browser are you using? #100 turned out to be Safari specific.

[2019-11-12 15:25] edorivai commented on #137
Closing for now, let me know if you have any further questions

[2019-11-12 15:25] #137 closed

[2019-11-12 15:25] #132 closed

[2019-11-13 10:29] jonask94 commented on #139
Here is a little codepen: https://codepen.io/jonask94/pen/jOOveEJ
(in the initial situation everything is fine; after pressing the button and unmounting the media component the warning is thrown when resizing the window)
It seems as if #100 relates to it, but I tested it on chrome and firefox so it is not safari specific.

[2019-11-13 11:22] edorivai commented on #139
Thanks, I'll have to look into this.

[2019-11-21 08:08] Jason-Cooke opened #142 "Is height supported?"
I'm trying to mix @media **width** and **height** quries, to get components behaving responsively in all orientations.

Does this module currently support min-height & max-height? If not, are they any plans to add it?

[2019-12-06 13:17] geegog commented on #139
I have the same issue.

`Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in Media (at Contact.js:176)
    in Contact (created by Context.Consumer)`

If I navigate to the page with the Media component and navigate

[2019-12-06 13:17] geegog commented on #139
I have the same issue.

`Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in Media (at Contact.js:176)
    in Contact (created by Context.Consumer)`

If I navigate to the page with the Media component and navigate

[2020-01-16 08:18] makker commented on #139
I got this warning in my app using "react-media" 1.10.0. App uses React 16.9.

```Warning: Can't call setState on a component that is not yet mounted. This is a no-op, but it might indicate a bug in your application. Instead, assign to `this.state` directly or define a `state = {};` class property with the desired state in the Media component.```

I'm not sure what I did before the warning fired.

[2020-01-23 11:36] marco-000 commented on #139
I'm getting this bug as well working with NextJS. You can reproduce it easily with a default installation of NextJS.

[2020-04-17 22:04] adriankiezik commented on #139
Also getting this error:

I'm not using state at my component, so I think I can ignore this error.

[2020-05-08 18:46] deasems commented on #110
What's the status 2.0 and hooks support?

[2020-05-08 23:56] tstirrat15 commented on #110
I can put through a PR for the hook update.

[2020-05-09 21:57] tstirrat15 opened #148 "Add hooks to API"
Opening this issue for tracking purposes.

Things I've figured out so far:

* The notion of a two-pass render is kind of strange the context of hooks. I'm doing my best to approximate it, but it may come at the expense of two `setStates` in the same cycle when it's in frontend-only mode.
* Hooks don't play nicely with the current way that tests are written. I'm going to rewrite the tests to use th

[2020-05-11 07:45] edorivai commented on #148
@tstirrat15 thanks for taking this up man! I currently don't have the time to implement any new stuff so your help is really appreciated!

[2020-05-11 08:15] edorivai commented on #142
Hi @Jason-Cooke, apologies for the (very) late response. This library is a wrapper around [Window.matchMedia()](https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia), which supports any media query features you're familiar with from CSS.

[2020-05-21 04:39] zjhch123 commented on #139
I think the root cause is the method `initialize`, which is called in the `constructor` and the `componentDidMount`.

In `constructor`, it calls the `initialize`, the `this.queries` will be an array with some listeners. And then the component is mounted and trigger the `componentDidMount`, which causes the `this.queries` be covered by another new array without canceling the old listeners.

I'd lik

[2020-05-27 09:17] #148 closed

[2020-05-27 09:29] #142 closed

[2020-05-27 09:30] edorivai opened #150 "Improve docs and tests for useMedia hook"
@tstirrat15 implemented the `useMedia()` hook in #149 :tada:

Two minor improvements that are left open:

- [ ] Add tests for the hook
- [ ] Add documentation on how to use the hook

Any help is appreciated! :pray:

[2020-05-27 09:56] edorivai commented on #139
PR has been merged, it's available at `react-media@next`. Please let me know if you get the time to test, thanks! :pray:

[2020-05-27 11:43] zjhch123 commented on #139
I can't repro it with the version `@next`. The issue should be resolved 😊

[2020-05-28 09:04] zjhch123 commented on #139
Hey one thing needs to be pointed out.

This issue will happen again if you are in the development mode using the `React.StrictMode` to render the `<App />`. The root cause is the React needs to [detect unexpected side effects](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects), and it will call the `useMedia` twice using the different contexts.

I don't think it is a blo

[2020-06-11 12:45] abenhamdine commented on #150
Hi @edorivai you can check the third item now

[2020-06-13 14:04] abenhamdine commented on #110
For any one interested : hooks are available in 2.X branch, with `npm install react-media@next`
It's a RC version but it works perfectly for us.

Big thx to @tstirrat15 and @edorivai for this !

[2020-06-22 13:57] JonasJuss commented on #110
I just tested react-media@next with my gatsby website and I can confirm that the two-pass rendering does not seem to work anymore.

I had to revert back to the 1.10.0 to make everything work as intended again.

[2020-06-23 15:23] tstirrat15 commented on #110
@JonasJuss can you give me an example of how it's supposed to work and how it fails? I'll admit that I don't understand two-pass rendering well enough, and it hasn't yet been captured in a test. I'd like to write one.

[2020-06-23 23:22] tstirrat15 opened #155 "Two-pass rendering is broken in the hooks implementation"
See comment here: https://github.com/ReactTraining/react-media/issues/110#issuecomment-647536404

In my head this points to a need for a test of two-pass rendering behavior, comparing the states of:

1. server-side render
1. first client-side pass (i.e. what would happen during hydration, before didMount/useEffect runs)
1. second client-side pass

I'm pretty sure this is the set of expectations:

[2020-06-23 23:27] tstirrat15 commented on #155
Other references:

* https://joshwcomeau.com/react/the-perils-of-rehydration/
* Previous issue: https://github.com/ReactTraining/react-media/issues/81
* Previous PR: #96

[2020-06-23 23:30] tstirrat15 commented on #155
This could be a good time to get hook testing in place, too: https://react-hooks-testing-library.com/reference/api

[2020-06-29 11:50] edorivai commented on #155
Minor tweak here: these expectations assume that `defaultMatches` are not equal to the actual `matches` as determined by the media query.

[2020-07-27 03:48] gpoole commented on #155
I think the requirement is to force a second pass _unless_ the client-side query result exactly matches `defaultMatches`, even in the default case. The first pass in the two-pass render needs to match exactly what the server rendered, _then_ the second pass can apply client-side changes.

I'd say for this hook if the query doesn't match `defaultMatches` on the client side, the hook should handle t

[2020-07-29 08:11] aplaskevich opened #157 "query and queries prop"
Attribute queries for <Media/> is not working in 1.8.0 version. I can use query only.
If i pass query object e.g. { small: "...media query...",  medium: "...media query..."} (as given in documentation), it throws an error.
When pass queries, query prop is still undefined and throws an error.

[2020-08-11 18:42] tstirrat15 commented on #155
I'll implement it and see if this fixes it. Thank you!

[2020-08-27 06:37] MaoJJJJJ commented on #157
Same here, really looking forward to a solution for this.

[2020-09-21 10:40] GuichiZhao commented on #139
The error still present when using `useMedia`

[2020-10-08 05:05] theromis opened #158 "kotlin wrapper"
trying to repeat https://gitlab.com/blewpri/react-master-detail in kotlin
react media been used in it
https://gitlab.com/blewpri/react-master-detail/-/blob/master/src/components/MasterDetail/MasterDetail.tsx#L24
seems like currently no kotlin wrapper about `react-media`, just want to ask before writing my own, may be it exists somewhere or possible add this wrapper to the `react-media` project?

[2020-10-10 21:57] jonmajorc commented on #155
Any update on this one? 😃

[2020-10-12 08:24] mrmartineau commented on #155
@jonmajorc FYI https://blog.sindresorhus.com/issue-bumping-e3b9740e2a0

[2020-10-12 18:55] jonmajorc commented on #155
@mrmartineau The blog did say it's okay to bump when...

So I just wanted to see... 🤷‍♂️

[2020-10-13 14:48] jhimelymendoza commented on #139
The error still persists, I have version 1.10.0 installed and I still get. The PR already approved? When would this problem be solved?

index.js:1 Warning: Can't call setState on a component that is not yet mounted. This is a no-op, but it might indicate a bug in your application. Instead, assign to `this.state` directly or define a `state = {};` class property with the desired state in the Media

[2020-10-13 15:09] edorivai commented on #139
@jhimelymendoza can you try `npm install react-media@next`?

[2020-10-13 15:10] edorivai commented on #155
Hey @jonmajorc, unfortunately no updates from my end. As pointed out in the sindresorhus article, I currently don't have the bandwidth to actively take up issues here. I'm trying to keep an eye on the repo and I'll try to help move PRs forward.

[2020-10-13 16:54] jonmajorc commented on #155
@edorivai no worries!! Just seeing! I too don't have the bandwidth as of now, so I totally understand 😄 -- Thanks for the upate!

[2020-10-16 19:11] 0ctothorp commented on #150
Hey, I could work on tests for the hook. Is there anything specific that I should know of before starting?

[2020-10-16 21:26] tstirrat15 commented on #150
@0ctothorp let me push a branch that I've been working on. Transliterating the existing tests shouldn't be difficult, but the thing that I was finding hard is that testing the SSR behavior.

[2020-10-17 15:45] 0ctothorp commented on #150
Oh, I didn't know it was being worked on already :sweat_smile:

[2020-10-17 16:23] tstirrat15 commented on #150
I've stalled out :P I would very much appreciate the help if you're willing and able.

The big thing is that for testing SSR behavior, you want to watch three states and make sure that they're all consistent with each other:

1. the server-rendered markup
1. the first hydration pass
1. the first full render pass

In a two-pass render, you want the first two to agree, and then for the change to hap

[2020-10-17 16:28] tstirrat15 commented on #150
Here's a link to the branch I've been working on:

https://github.com/tstirrat15/react-media/tree/155-testing-and-implementing-two-pass-render

And here's a link to the diff between it and current master:

https://github.com/ReactTraining/react-media/compare/master...tstirrat15:155-testing-and-implementing-two-pass-render?expand=1

It's very much a work in progress - I started writing the hydratio

[2020-10-17 16:34] 0ctothorp commented on #150
Cool, I'm going to have a look. I'm definitely not an expert in such tests, but maybe I will be able to come up with something :)

[2020-10-17 16:40] tstirrat15 commented on #150
Awesome. Thank you so much!

[2020-10-20 09:55] jonkan commented on #139
@edorivai I'm seeing the same issue using `react-media@next` (`react-media@^2.0.0-rc.1`) :/

[2020-10-20 10:15] clieee commented on #139
Same here

[2020-10-20 15:47] edorivai commented on #139
@jonkan @clieee @jhimelymendoza could you guys confirm whether you're seeing this with `useMedia` and/or `<Media>`?

Would also be helpful if y'all could post browser and react-media versions. 🙏

[2020-10-21 06:09] jonkan commented on #139
@edorivai I'm seeing it with `useMedia` having `react-media-2.0.0-rc.1` in `Chrome 86.0`, `Safari 14.0` and `Firefox 82.0`.

[2021-02-03 13:00] bjolseth commented on #59
I think this should be re-opened. I had exactly the same problem. Vanilla react project using parcel builder. never any problems with other packages. Solution with .default worked.
At the very least, add it as a tip to the README file? Bad not to have a working hello world example with a 'non-custom' builder

[2021-02-10 10:08] Hainesy commented on #139
I'm seeing it with `<Media>` on Chrome 88.0. Easily reproducible when resizing the window. If it helps, I'm redirecting routes when switching from desktop to mobile.

[2021-11-01 16:34] alexkrolick opened #159 "Babel Runtime dependency"
Is it possible to remove the `@babel/runtime` dependency from the package?

[2022-02-09 05:40] kamleshchandnani commented on #75
@edorivai what you mentioned makes sense. I have a follow up question on how do we optimise for bundlesize? For example when my app is running on a small screen, ideally I shall only load `SmallScreen` and not load `LargeScreen` at all unless the screen size changes.

[2022-02-09 08:46] edorivai commented on #75
@kamleshchandnani I think regular bundle splitting with `React.lazy()` should work.

[2022-07-08 08:58] 28JayG commented on #93
@Khrystyna can you send a screenshot of how you solved it using the matchMedia function?

[2022-07-30 21:13] djucy commented on #139
Hello, I've gotten error in Chrome 103.0:

**"react_devtools_backend.js:4026 Warning: Can't call setState on a component that is not yet mounted. This is a no-op, but it might indicate a bug in your application. Instead, assign to `this.state` directly or define a `state = {};` class property with the desired state in the Media component.".**

I don't use state in this component

[2022-10-03 00:57] vinaysruban commented on #139
I'm also experiencing the error on Chrome.

**"Warning: Can't call setState on a component that is not yet mounted. This is a no-op, but it might indicate a bug in your application. Instead, assign to `this.state` directly or define a `state = {};` class property with the desired state in the Media component."**

This is in `<React.StrictMode>` though.

[2022-11-20 07:36] Shamil8392 opened #160 "React-media"
npm, code, copy